<div>
  <h1>
    BeeHive
  </h1>
</div>
<div>
  <h3>
    Beehive information
  </h3>
</div>
<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <p>Is open :{{Hive.hatchOpen}}</p>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default">Temperature</button>
            <button type="button" class="btn btn-default">Vibration</button>
        </div>
        <button type="button" class="btn btn-success">Validate</button>
    </form>
</div>
