<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    BeeHive
  </h1>
</div>

<div>
  <h3>
    Beehive information
  </h3>
</div>
<form>
  <div class="form-group">
    <label for="DateFrom"></label>
    <input type="DateFrom" class="form-control" id="" placeholder="Date from">
    <label for="DateTo"></label>
    <input type="DateTo" class="form-control" id="" placeholder="Date to">
  </div>
</form>



 <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


