<div class="container">
    <h1>
      {{ title }}
    </h1>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <p>Is open :{{Hive.hatchOpen}}</p>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default">Temperature</button>
            <button type="button" class="btn btn-default">Vibration</button>
        </div>
        <button type="button" class="btn btn-success">Validate</button>
    </form>

  <chart
    [chartType]="chartType"
    [chartLabels]="chartLabels"
    [chartData]="chartData"
  ></chart>
</div>
